/* */

/*ページの余白をゼロに設定する*/
body {
  margin: 0;
  padding: 0;
  background-color: #cccccc;
  color: #333333;
  font-size: 15px;
  line-height: 2;
}

/*リセットCSS */

/*見出しと段落の上のマージンをなくす*/
p,h1,h2,h3,h4,h5,h6 {
  margin-top: 0;
}


/*画像の下部の余白をなくす*/
img {
  vertical-align:bottom;
}

/*リストの余白をなくす*/
ul {
  margin: 0;
  padding: 0;
}


/*訪問前/後のリンク文字の色を指定するor マウスポインターを置いたときだけ、リンク文字の下図の表示/非表示を指定する*/
a {
  color: #3583aa;
  text-decoration: none;
}

a:visited {
  color: #788d98;
}

a:hover {
  text-decoration: underline;
}


/*ここから各要素のstyle設定に入る*/


/*headerエリア*/
    /* ヘッダーエリアのサイズを設定する。*webサイトの標準的な横幅サイズです*/
    /* ヘッダーエリアの位置を設定する。*/
header {
  width: 960px;
  height: 100px;
  margin: 0 auto;
}

/* ロゴとメニューの位置を指定する。そして、ロゴとメニューの位置を調整する*/

.logo {
  float: left;
  margin-top: 50px;
}

.global-nav {
  float: right;
  margin-top: 60px;
}

/* メニュー項目を横に並べる メニュー項目の細部を調整する*/
.global-nav li {
  float: left;
  margin: 0 20px;
  font-size: 20px;
  list-style: none;
  font-family: 'Bitter', serif;
}

/* メニュー文字のリンクに色を設定する*/
.global-nav li a {
  color: #ffffff;
}

/* メニュー文字の下図を設定する*/
.global-nav li a:hover {
  border-bottom: 2px solid #ffffff;
  padding-bottom: 3px;
  text-decoration: none;
}
/*headerエリア終わり*/


/*wrapperエリア始まり*/
#wrap{
/* floatプロパティで指定された要素の回り込みを解除する*/
    clear: both;
    background-color: #ffffff; /*aboutHTMLの際に追記記載。→コンテンツの背景を白く*/
    margin-top: 220px; /*aboutHTMLエリアの際に追記記載→コンテンツエリアの上部に余白を設定する*/
    padding: 35px 0;/*aboutHTMLエリアの際に追記記載→コンテンツエリアの内側に余白を設定する*/
}

     /* wrapperエリアの位置を設定する。*/
.content {
  width: 960px;
  margin: 0 auto;
}


/*wrapperエリア終了*/


/*フッターエリア始まり*/
footer {
  text-align: center;
  color: #ffffff;
  padding: 20px 0;
  background-color: #767671;
}

footer small {
  font-size: 12px;
}
/*フッターエリア終了*/


/*インデックスページのh1だけに装飾を設定する*/

#index h1{
    /*文字サイズと行間を指定する*/
    font-size: 100px;
    line-height: 1;　/*行間を詰める*/

    /*文字色と書体を指定する*/
    color: #ffffff;
    font-family: 'Bitter', serif;
    /*②見出しの下の余白を設定する*/
     margin-bottom: 50px;
     border: none; /*aboutHTMLエリアの際に追記記載→下線削除*/
}

/*①見出しの上の余白を調整する*/
#index .content {
  margin-top: 150px;
}

/*本文を調整する　③文字サイズを指定する*/
#index p {
  font-size: 16px;
  color: #ffffff;
}

.btn a {
/*④ボタン背景色と文字の装飾*/
  background-color: #009cd3;
   color: #ffffff;
   font-size: 20px;
   font-family: 'Bitter', serif;
 /*⑤ボタンサイズ調整*/
   width: 185px;
   /*⑥ブロックレベルに*/
   display: block;
   /*⑦文字位置、ボタンの角、枠線設定*/
   text-align: center;
   line-height: 50px;
   margin-top: 20px;
   border-radius: 5px;
   border: 3px solid #009cd3;;
}

  /*⑧マウスを置いたときのデザイン*/
.btn a:hover {
  text-decoration: none;
  background-color: #ffffff;
  color: #009cd3;
}

#index footer {
  width: 960px;
  margin: 150px auto 0 auto;
  text-align: left;
  background-color: transparent;  /*aboutHTMLエリアの際に追記記載→背景色削除*/
}


  /*背景画像について*/
#index {
  background-image: url(../images/bg-index.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}


/*aboutページのCSS*/
/*背景画像*/
#about {
  background-image: url(../images/bg-about.jpg);
  background-repeat: no-repeat;
  background-position: center top; /*背景画像の表示位置を設定する*/
  background-attachment: fixed;
  background-size: 100% auto;   /*全体を覆うのではなく、領域に収まるように表示したい。*/
}

.main-center{
    width: 940px;  /*横幅20px引いている。*/
    margin: 0 auto;
}

/*見出しの装飾*/
.main-center h1{
    font-family: 'Bitter', serif;
    font-size: 36px;
    border-bottom: 1px solid #cccccc;
}

.main-center h2{
    font-family: 'Bitter', serif;
    font-size: 24px;
}

/*「疑似要素」でiconクラス前で長方形のアイコンを作成した。*/
.icon:before {
  content: "";
  padding-right: 10px;
  border-left: 7px solid #9cb4a4;
}

/*テキスト幅を指定、テキストの位置を指定*/
#about .profile-txt {
  width: 540px;
  float: left;
}

/*テキストの一部を太字に設定する。*/
#about .profile-txt span {
  font-weight: bold;
}
/*プロフィールの画像を指定する*/
#about .profile-image {
  float: right;
}

/*上記でfloatを利用したため、浮いた。レイアウトを調整する*/
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

/*セクション間の余白を調整する*/
section {
  margin-bottom: 35px;
}


/*ここから表の装飾*/
/*見出しセルの横幅・背景色・上下幅を指定する*/
#about .career th{
    width: 240px;
    background-color: #f0f0f0;
    padding: 12px 0;
/*見出しセルの罫線を装飾する*/
    border: 1px solid #cccccc;
}

/*データセルの横幅を指定する*/
#about .career td{
    width: 660px;
    /*データセルの上下幅と罫線を指定する*/
    padding: 12px 0 12px 40px;
    border: 1px solid #cccccc;
}

/*セルの隙間を指定する*/
table{
    border-spacing: 0;
    /*罫線の表示方法を指定する。*/
    border-collapse: collapse;
}

/*indexページの表示でのエラーを解除する*/
#index #wrap{
    background-color: transparent; /*透明を表す*/
    margin-top: 0;  /*余白の設定を解除*/
    padding: 0;
}